body {
    background-color: black;
    font-family: "Helvetica Neue";
    color: white;
}


.wd-border{
    border-width: 1px;
    border-color: rgb(47,51,54);
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;

}

.wd-border-initial{
    border-width: 1px;
    border-color: rgb(47,51,54);
    border-style: solid;
    padding-top: 5px;

}


.wd-middle-text{

    font-size: 20px;
    font-weight: bold;
    display: block;
}

.wd-left-align {
    padding-left: 12px;
}
.wd-account-txt{
    font-size: 13px;
    font-weight: bold;
}

.wd-gray-text{
    color: rgb(107, 110, 112);
    font-size: 13px;
    font-weight: normal;
}


.wd-nav {
    color: rgb(110, 118, 125);
    font-weight: bold;
    font-size: 15px;

}

.wd-nav-selected {
    color: rgb(29, 161, 242);
    border-bottom: solid 5px;
    padding-bottom:10px;
}

.wd-padding {
    padding: 14px;
}
.wd-padding-right {
    padding-right: 80px;
}

.wd-search-tuiter{
    width: 80%;
    height: 8px;
    border-radius: 40px;
    border-width: 4px;
    border-color: rgb(47, 51, 54);
    color: white;
    border-style: solid;
    padding: 10px;
    background-color: rgb(47, 51, 54);
    margin-left: 20px;
    margin-top: 10px;

}

.wd-search-icon {
    padding-left: 25px;
    background: url("search.jpg") no-repeat left;
    background-size: 18px;
    background-color: rgb(47, 51, 54);

}


.wd-settings {
    margin-right: 12px;
    font-size: 40px;
    color: rgb(29,161,242);
    float: right;
}

.wd-side-pics {
    border-radius: 14px;
    height: 100px;
    width: 100px;
    float: right;
    object-fit: cover;
    object-position: 50% 0;
    margin-right: 16px;
    position: relative;

}


.wd-empty-box {

    background-color: #242729;
    padding: 6px;
}

.wd-round-pic {
    border-radius: 50px;
}


.wd-right-align {
    float: right;
    color: rgb(107, 110, 112);
    margin-right: 12px;
}

.wd-flex{
    display: flex;
    justify-content: space-between;
}