body {
    padding: 10px;
    font-family: "Helvetica Neue";
    margin-left:8px;


}

.wd-line-height{
    line-height: 28px;
}
.wd-position-search-icon {
    bottom: 7px;
    bottom: 7px;
    left: 12px;
    position: absolute;
    color: rgb(131, 141, 148);
}

.wd-button-color {
    color: #0d6efd;
}

.wd-img {
    height:48px;
    width:48px;
    object-fit: cover;
}

.wd-tuit-images {
    height:100px;
    width:100px;
    border-radius: 20px;
    object-fit: cover;

}

.wd-follow-button {
    height:35px;
    width:80px;
}

.wd-text-over-pic {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 1;
}

.wd-padding-right{
    padding-right: 10px
}

.wd-stack-size{
    font-size:8px;
}

.wd-font-size {
    font-size: 14px;
    color: black;
}

.wd-twitter-color {
    color: rgb(29, 161, 242);
}

.wd-gold{
    color:darkgoldenrod;
}

.btn-primary.override-bs {
    background-color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
}

.btn-primary.override-bs1 {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 14px;
}

.form-control.override-fc{
    background-color: rgb(239, 243, 244);
    width: 100%;
}

.list-group.override-lg {
    border-radius: 20px;
    background-color: rgb(239, 243, 244);
}

.list-group-item.override-lgi {
    border-style: none;
    background-color: rgb(239, 243, 244);

}

.list-group-item.override-mc {
    line-height:20px;
    padding-top: 30px;
    border-top: none;
    border-bottom: none;

}

.nav-tabs .nav-link.active.override-nta {
    color: black;
    border-style: none;
    border-bottom: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(29, 161, 242);


}

.nav-tabs .nav-link.override-nl {
    color: rgba(142,154,162,255)

}
.nav-tabs.override-nt {
    border-bottom-style: none;

}

.nav.override-nav{
    justify-content:space-between;
}

.wd-arrow {
    rotate:-45deg;
}

.wd-small{
    font-size:12px;
}

.wd-border {
    border-right:solid;
    border-left: solid;
    border-color:rgba(0,0,0,.125);
    border-width: 1px;
}
.wd-cog{
    position: absolute;
    right: 8px;
}

.wd-tiny-padding{
    padding-bottom: 2px;
}

.wd-box{
    width: 100%;
    height: 4px;
    border-style:solid;
    border-radius:20px;
    border-color:rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);

}

.wd-notif {
    font-size: 6px;
    color: rgb(29, 161, 242);
    position: absolute;
    left:18px;
    top: 0px;

}

.wd-font-tiny{
    font-size:12px;
}

.wd-tuiter-gray{
    color: rgb(47, 51, 54);
}

.wd-tuiter-color {
    color: rgb(29, 161, 242);
}


.wd-profile-pic {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.wd-nudge-up {
    position: absolute;
    bottom: -60px;
    left: 30px;
}

.wd-editing-img {
    opacity:0.85;
}

.wd-label-nudge {
    position: absolute;
    bottom: 30px;
    left: 12px;
}

.wd-text-area-nudge {
    position: absolute;
    left: 12px;
}


.wd-move-camera{
    position: absolute;
    bottom: 70px;
    right: 300px;
    color: white;
}

.wd-move-camera-2{
    position: absolute;
    top: -50px;
    left: 60px;
    color: white;
}

.wd-move-x {
    position: absolute;
    bottom: 70px;
    right: 200px;
    color: white;
}

.wd-move-camera-circle{
    position: absolute;
    bottom: 50px;
    right: 285px;
    color: dimgray;
    opacity: .5;
    font-size: 60px;
}

.wd-circle-size{
    color: dimgray;
    opacity: .5;
    font-size: 60px;
}

.wd-camera-size{

    opacity: .85;
    position: absolute;
    left: 14px;
    top: 21px;
    color: white;

}